<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <div id="login">
        <form >
            <p id="name">User name  <i id="italic">error***</i></p>
            <input type="text" name="" id="user-name" >
            <p id="password">Password  <i id="italic">error***</i></p> 
            <input type="text" name="" id="pass-code">
            <button type="submit" id="submit" >Submit</button>
            <button id="proceed"><a href="/homePageIndex" id="link"  >now u can proceed</a></button>
          
       
    </div>
    
    <script  src="/index.js"></script>
    
   
</body>
</html>