body{
    display: flex;
   justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: default;
}

input{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}





form{
    width: 200px;
    height: 280px;
    border-radius: 30px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 5px #999;
}

#user-name{
    border: 2px solid black;
    border-radius: 10px;
    height: 25px;
    padding: auto;
    margin: 0;
}

#pass-code{
    border: 2px solid black;
    border-radius: 10px;
    height: 25px;
    padding: auto;
  
}

p{
    align-self: flex-start;
    margin-left: 7px;
    margin-bottom: 5px;
}

button{
    margin-top: 10px;
    border-radius: 15px;
}

#submit{
    z-index: 101;
    background-color: white;
      border: 2px solid rgb(221, 0, 255);
      color: black;
      text-align: center;
      text-decoration: none;
      padding: auto;
      font-size: medium;
      border-radius: 5px;
      height: 27px;
      margin-right: 4px;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
      box-shadow: 3px 3px #999;
}

#proceed{
    z-index: 101;
    background-color: white;
      border: 2px solid blue;
      color: black;
      text-align: center;
      text-decoration: none;
      padding: auto;
      font-size: medium;
      border-radius: 5px;
      height: 27px;
      margin-right: 4px;
      box-shadow: 3px 3px #999;
}

#proceed:active{
    transform:translateY(2px);
    box-shadow: 3px 3px #999;
}

#submit:active{
    transform:translateY(2px);
    box-shadow: 3px 3px #999;
}

i{
    margin-right: 10px ;
    margin-left: 30px;
    color: crimson;
    opacity: 0;
}

#proceed{
    opacity: 0;
    border-radius: 15px;

}

a{
    text-decoration: none;
     color: inherit;
}

#link{
    font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
}
